<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if app.session.flashbag %}
        {{ dump(app.session.flashbag) }}
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
    {% endif %}
    <ul>
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('account') }}">Account</a></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('register') }}">Register</a></li>
        {% endif %}
    </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
